<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dawtre.rescuer">
    <permission android:protectionLevel="normal" android:permissionGroup="android.permission-group.HARDWARE_CONTROLS" android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MorseActivity"
            android:label="@string/title_activity_morse"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dawtre.rescuer.HomeScreen" />
        </activity>
        <activity
            android:name=".SMSActivity"
            android:label="@string/title_activity_sms"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dawtre.rescuer.HomeScreen" />
        </activity>
        <activity
            android:name=".PersonalDataActivity"
            android:label="@string/title_activity_dane_osobowe"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dawtre.rescuer.HomeScreen" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_ustawienia"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dawtre.rescuer.HomeScreen" />
        </activity>
        <activity
            android:name=".PersonalDataSettingsActivity"
            android:label="@string/title_activity_personal_data_compose"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dawtre.rescuer.SettingsActivity" />
        </activity>
    </application>

</manifest>